[Unit]
Description=SentrySpike Update Check
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=ubuntu
ExecStart=/opt/sentryspike/rpi/scripts/update.sh

[Install]
WantedBy=multi-user.target
